$title-color-text: var(--title-color-text);
$background-color: var(--background-color);
$theme-image: var(--theme-image);
$background-right: var(--background-right);
$background-container: var(--background-container);
$background-theme: var(--background-theme);
