$title-color-text: var(--title-color-text);
$background-color: var(--background-color);
$theme-image: var(--theme-image);
$background-right: var(--background-right);
$background-container: var(--background-container);
$background-theme: var(--background-theme);
$weather-page-text: var(--weather-page-text);
$weather-page-background: var(--weather-page-background);
$input-color: var(--input-color);
$weather-page-text-reverse: var(--weather-page-text-reverse);
