@import "src/app/styles/theme";

.weather {
  font-family: Roboto Slab, serif;
  background: $background-color;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 80px 120px;
  &__container {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: flex;
    background: $background-container;
    padding: 30px;
    justify-content: center;
  }

  &__left {
    display: flex;
    flex: 1;
    padding: 20px;
    order: 1;
    max-width: 100%;
    z-index: 100;
    flex-direction: column;
  }

  &__top {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }

  &__icon img {
    object-fit: cover;
    width: 40px;
  }

  &__title {
    font-size: 40px;
    font-weight: 700;
    color: $title-color-text;
  }
  &__theme {
    border: none;
    cursor: pointer;
    margin-left: auto;
    background: transparent;
    &_image {
      width: 40px;
    }
  }

  &__snowflake {
    width: 40px;
    margin: 20px 0;
  }

  &__texts {
    display: flex;
    flex-direction: column;
  }

  &__main {
    position: relative;
    font-size: 70px;
    font-weight: 700;
    flex-direction: column;
    justify-content: center;
    display: flex;
    color: $title-color-text;
    gap: 0;
    &-img {
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }

  &__image {
    width: 70px;
  }

  &__flower {
    position: absolute;
    width: 50px;
    top: 50%;
    left: 99.4%;
    filter: blur(2px);
  }
  &__bottom {
    position: relative;
  }
  &__text {
    font-weight: 400;
    font-size: 16px;
    color: grey;
    margin-top: 20px;
    max-width: 400px;
  }

  &__start {
    margin-top: 20px;
    border: 1px solid rgb(0, 136, 109);
    border-radius: 50px;
    max-width: 200px;
    max-height: 100px;
    padding: 15px;
    color: #fff;
    background-color: rgb(0, 136, 109);
    font-family: Roboto Slab, serif;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
  }

  &__leaf {
    width: 70px;
    transform: rotate(45deg);
    position: absolute;
    opacity: 20%;
    top: 100px;
    left: 400px;
  }

  &__right {
    display: flex;
    flex: 1;
    position: relative;
    order: 2;
    max-width: 100%;
    background-color: $background-right;
    padding: 40px;
    justify-content: center;
    align-items: center;
  }

  &__blue {
    position: relative;
    background-color: #4c99ad;
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 60px;
    color: #fff;
    z-index: 5;

    &_title {
      font-weight: 400;
      font-size: 28px;
      margin-bottom: 5px;
      z-index: 5;
    }

    &_text {
      font-size: 18px;
      opacity: 0.7;
      z-index: 5;
    }

    &_big {
      font-size: 80px;
      opacity: 0.7;
      z-index: 2;
    }

    &_image {
      margin-top: -40px;
      width: 300px;
      z-index: 5;
    }

    &_row {
      display: flex;
      flex-direction: row;
      margin-top: 30px;
      gap: 40px;
    }

    &_item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 3px;

      h4 {
        font-weight: 700;
      }
    }

    &_lilimage {
      width: 40px;
      display: flex;
      align-items: center;
    }
  }

  &__yellow {
    position: absolute;
    background-color: rgb(255, 183, 0);
    height: 634px;
    width: 420px;
    border-radius: 30px;
    transform: rotate(3deg);
    top: 27px;
    left: 227px;
    z-index: 0;
  }
}

@media (max-width: 1920px) {
  weather {
    &__yellow {
      top: 86px;
      left: 222px;
    }
  }
}

@media (max-width: 1820px) {
  .weather {
    &__yellow {
      top: 80px;
      left: 170px;
    }
  }
}

@media (max-width: 1700px) {
  .weather {
    &__yellow {
      top: 80px;
      left: 170px;
    }
  }
}

@media (max-width: 1500px) {
  .weather {
    &__yellow {
      top: 80px;
      left: 110px;
    }
  }
}

@media (max-width: 1440px) {
  .weather {
    &__title {
      font-size: 35px;
    }

    &__theme {
      &_image {
        width: 35px;
      }
    }

    &__icon {
      img {
        width: 35px;
      }
    }

    &__main {
      font-size: 60px;
    }

    &__image {
      width: 60px;
    }

    &__yellow {
      top: 80px;
      left: 102px;
    }
  }
}

@media (max-width: 1350px) {
  .weather {
    &__title {
      font-size: 30px;
    }

    &__icon {
      img {
        width: 30px;
      }
    }

    &__theme {
      &_image {
        width: 30px;
      }
    }

    &__snowflake {
      width: 30px;
    }

    &__image {
      width: 50px;
    }

    &__main {
      font-size: 50px;
    }

    &__text {
      max-width: 370px;
    }

    &__blue {
      &_title {
        font-size: 25px;
      }

      &_big {
        font-size: 65px;
      }

      &_image {
        width: 250px;
      }
    }

    &__yellow {
      width: 416px;
      height: 556px;
      top: 132px;
      left: 70px;
    }
  }
}

@media (max-width: 1220px) {
  .weather {
    padding: 60px 100px;

    &__leaf {
      left: 250px;
    }
    &__blue {
      padding: 30px 40px;
      &_image {
        width: 200px;
      }
    }

    &__yellow {
      width: 376px;
      height: 506px;
    }
  }
}

@media (max-width: 1050px) {
  .weather {
    padding: 40px;
    &__yellow {
      width: 350px;
      top: 190px;
    }
  }
}

@media (max-width: 950px) {
  .weather {
    &__yellow {
      width: 320px;
    }
  }
}

@media (max-width: 800px) {
  .weather {
    padding: 0;
    background-color: $background-theme;
    &__container {
      max-width: 700px;
      flex-direction: column;
      gap: 0px;
    }

    &__title {
      font-size: 25px;
    }

    &__flower {
      display: none;
    }

    &__icon img {
      width: 25px;
    }

    &__theme {
      &_image {
        width: 25px;
      }
    }

    &__snowflake {
      width: 25px;
    }

    &__main {
      font-size: 33px;
    }

    &__text {
      font-size: 12px;
    }

    &__start {
      max-width: 90px;
      font-size: 12px;
    }

    &__right {
      max-width: 100%;
    }

    &__leaf {
      display: none;
    }

    &__blue {
      padding: 20px;
      &_title {
        font-size: 20px;
      }

      &_text {
        font-size: 12px;
      }

      &_big {
        font-size: 60px;
      }

      &_image {
        width: 200px;
      }
    }

    &__yellow {
      height: 465px;
      width: 240px;
      top: 36px;
      left: 51px;
    }
  }
}

@media (max-width: 700px) {
  .weather {
    &__container {
      max-width: 550px;
      padding: 20px;
    }

    &__left {
      max-width: 100%;
    }

    &__icon {
      width: 30px;
    }

    &__title {
      font-size: 30px;
    }

    &__theme {
      &_image {
        width: 30px;
      }
    }

    &__snowflake {
      width: 30px;
    }

    &__texts {
      flex-direction: row;
      gap: 30px;
    }

    &__main {
      font-size: 45px;
    }

    &__text {
      max-width: 400px;
      font-size: 16px;
      text-align: right;
    }

    &__flower {
      left: 240px;
    }

    &__start {
      max-width: 200px;
      font-size: 18px;
    }

    &__leaf {
      left: 190px;
    }

    &__right {
      margin-top: -190px;
    }

    &__blue {
      padding: 15px;

      &_title {
        font-size: 24px;
      }

      &_text {
        font-size: 14px;
      }
    }

    &__yellow {
      max-width: 258px;
      max-height: 465px;
      left: 170px;
    }
  }
}

@media (max-width: 550px) {
  .weather {
    &__container {
      max-width: 425px;
      flex-direction: column;
    }

    &__left {
      max-width: 425px;
    }

    &__main {
      font-size: 35px;
    }

    &__text {
      font-size: 14px;
    }

    &__image {
      width: 35px;
    }

    &_lilimage {
      width: 30px;
    }

    &__right {
      margin-top: 0;
    }

    &__yellow {
      max-width: 325px;
      max-height: 443px;
      top: 25px;
      left: 110px;
    }
  }
}

@media (max-width: 405px) {
  .weather {
    &__container {
      max-width: 375px;
    }

    &__left {
      width: 100%;
      flex: 1;
    }

    &__top {
      margin-bottom: 30px;
    }

    &__snowflake {
      display: none;
    }

    &__texts {
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }

    &__text {
      text-align: center;
    }

    &__leaf {
      left: 200px;
    }

    &__yellow {
      max-width: 255px;
      height: 470px;
      left: 70px;
    }
  }
}
