<div class="weather">
  <div class="weather__container">
    <div class="weather__left">
      <div class="weather__top">
        <div class="weather__icon"><img [src]="icon" /></div>
        <h2 class="weather__title">Weatherapp.</h2>
        <button class="weather__theme" (click)="changeTheme()">
          <img [src]="themeImage" class="weather__theme_image" />
        </button>
      </div>
      <img [src]="snowflake" class="weather__snowflake" />
      <div class="weather__texts">
        <div class="weather__main">
          <p>Weather &</p>
          <p class="weather__main-img">
            Forecast <img class="weather__image" [src]="cloudSunny" />
          </p>
          <p>Application</p>
          <img [src]="flower" class="weather__flower" />
        </div>
        <div class="weather__text">
          Use weathe application and get weather information daily aand daily.
          Donwload weather forecast for free and experience
        </div>
      </div>
      <div class="weather__bottom">
        <button class="weather__start" routerLink="page">Get started</button>
        <img [src]="leaf" class="weather__leaf" />
      </div>
    </div>
    <div class="weather__right">
      <div class="weather__blue">
        <h3 class="weather__blue_title">Vinnytsia</h3>
        <p class="weather__blue_text">Chance of Rain: 5%</p>
        <h1 class="weather__blue_big">28°</h1>
        <img [src]="cloudLightingSun" class="weather__blue_image" />
        <div class="weather__blue_row">
          <div class="weather__blue_item">
            <img [src]="cloudSunny2" class="weather__blue_lilimage" />
            <p class="weather__blue_text">2:00 AM</p>
            <h4 class="weather__blue_title">32°</h4>
          </div>
          <div class="weather__blue_item">
            <img [src]="cloudLighting" class="weather__blue_lilimage" />
            <p class="weather__blue_text">12:00 AM</p>
            <h4 class="weather__blue_title">30°</h4>
          </div>
          <div class="weather__blue_item">
            <img [src]="cloudRain" class="weather__blue_lilimage" />
            <p class="weather__blue_text">8:00 AM</p>
            <h4 class="weather__blue_title">29°</h4>
          </div>
        </div>
      </div>
      <div class="weather__yellow"></div>
    </div>
  </div>
</div>
